<nav>
    <a href="/">Home</a>
    <a href="/list">List</a>
</nav>


<link rel="stylesheet" href="/style.css">



<div class="card" style="width: 18rem;">
    <img src= <%=imageu%> class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%=name %></h5>
      <p class="card-text"><%=des%></p>
      <p class="card-text"><%=Resc%></p>
      <iframe width="1239" height="697" src="<%=ytl%>" title="Food cooking vid" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <a href="<%=path%>" class="btn btn-primary"><%=path%></a>
    </div>